<% include layout/header %>

<div class="title">
    <img src="images\paper-and-pen.png">
    <h1>Присоединяйся</h1>
  </div>
  <div id="grey-line"></div>

  <section class="authorization container">
    <form action="#" method="post">

      <fieldset class="author authorization-group">
        <label>
          Имя
          <input id="firstName" type="text" name="name" required>
        </label>
        <label>
          Фамилия
          <input id="lastName" type="text" name="surname" required>
        </label>
        <label>
          Email
          <input id="email" type="text" name="email" placeholder="name@domain.com" required>
        </label>
        <label>
          Пароль
          <input id="password" type="password" name="password" required>
        </label>
        <label>
          Повторите пароль
          <input id="repeat-password" type="password" name="repeat_pasword" required>
        </label>
      </fieldset>
      <fieldset class="account-action">
        <button type="button" class="btn btn-authorization btn-registration" name="submit" disabled>
          Зарегистрироватся
        </button>
      </fieldset>
    </form>
  </section>

  <script type="text/javascript" src="<%= assetFingerprint('javascripts/registration-validation.js') %>"></script>

<% include layout/footer %>
